<html>
  <head>
    <title>नोड जेएस लेकिन हिंदी में | NodeJS but it's in Hindi</title>
  </head>
  <body>
    <h2 id="मूलपाठ"></h2>

    <style>
      * {
        margin: 0;
        padding: 1%;
        user-select: none;
      }
      body {
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        justify-self: center;
        align-self: center;
      }
      #मूलपाठ {
        text-align: center;
        font-size: 40px;
        font-family: sans-serif;
      }
    </style>
    <script>
      window.onload = function() {
        const नाम = prompt("Enter your Name. अपना नाम दर्ज करें.");
        document.getElementById("मूलपाठ").innerHTML = `fuck u ${नाम}.<br>फक यू ${नाम}`;
      }
    </script>
  </body>
</html>
